@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');

body {
    background-color: black;
    font-family: 'Teko', sans-serif;
    font-weight: 700;
}

canvas {
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    margin-top: 10vh;
    @media screen and (max-width: 375px) {
        margin-top: 0;
    }
}

h1 {
    display: block;
    color: aliceblue;
    font-size: 36px;
    text-align: center;
    margin-top: 15vh;
    @media screen and (max-width: 375px) {
        margin-top: 0;
    }
}
